body {
    background-color:black;
    display:grid;
    height:100vh;
}

#parallax {
    /* position:absolute; */
    border:3px solid white;
    width:800px;
    height:700px;
    /* tranform:translate(-50%,-50%); */
    place-self: center;

}

.controls{
    margin-bottom:2rem;
}

